/* Your styles goes here. */

.blueHex {
    background-color: lightblue;
}

.blueHex:hover {
    background-color: blue;
    color: white;
}

.yellowHex {
    background-color: yellow;
}

.yellowHex:hover {
    background-color: orange;
}

.yellowHex img {
    filter: saturate(.25);
    transition: width 1s, filter 1s;
}

.yellowHex:hover>img {
    filter: saturate(1);
    width: 150%;
}

.fancyFrame {
    stroke-width: 10;
    transition: stroke-width 1s, stroke 1s;
}

*:hover>svg .fancyFrame {
    stroke: red;
}

.blackFrame {
    stroke-width: 30;
    stroke: black;
    stroke-dasharray: 10 10;
}