/* Your styles goes here. */

.blueHex {
    background-color: lightblue;
}

.blueHex:hover {
    background-color: blue;
}

.fancyHex {
    stroke-width: 10;
    transition: stroke-width 1s, stroke 1s;
    stroke-dasharray: 10 10;
}

*:hover > svg .fancyHex {
    stroke-width: 50;
    stroke: red;
}

.blackHex {
    stroke-width: 30;
    stroke: black;
    stroke-dasharray: 10 10;
}