/* Your styles goes here. */

.fancyHex {
    fill: aquamarine;
    stroke-width: 4;
    transition: fill 1s;
}

.fancyHex:hover {
    fill: lightcoral;
}

.blackHex {
    fill: black;
    stroke-width: 3;
    stroke: white;
    stroke-dasharray: 1 1;
}