/* Your styles goes here. */

.blueHex {
  background-color: lightblue;
}

.blueHex:hover {
  background-color: blue;
  color: white;
}

.yellowHex {
  background-color: yellow;
}

.yellowHex:hover {
  background-color: orange;
}

.yellowHex img {
  filter: saturate(0.25);
  transition: width linear 0.75s, filter 1s, transform linear 0.75s;
  width: 150%;
  transform: translate(-25%, -25%);
}

.yellowHex:hover > img {
  filter: saturate(1);
  width: 100%;
  transform: translate(0%, 0%);
}

.fancyFrame {
  stroke-width: 10;
  transition: stroke-width 1s, stroke 1s;
}

*:hover > svg .fancyFrame {
  stroke: red;
}

.blackFrame {
  stroke-width: 30;
  stroke: black;
  stroke-dasharray: 10 10;
}
